.formm{
    display: flex;
    flex-direction: column;
    margin-top:20px;

}
.req{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#name1,#email1,#phone1{
    color:red;
    display: none;
}
main{
    display: flex;
    border:0.1px solid rgb(214, 212, 212);
    border-radius: 10px;
    padding:15px;

}
.head{
    font-size: 30px;
    font-weight: bold;
    margin:0%;
    color:#0b3160;
}
.content{
    color:#999eb3;
    margin: 0%;
}
body{
    padding:220px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell,
     'Open Sans', 'Helvetica Neue', sans-serif;
}
#img-left>img{
    height:80vh;
}
#one{
    padding:40px 30px 0px 80px;
    /* display: none; */
}
.formm>input{
    padding:10px;
    border-radius: 5px;
    border: 1px solid #9799ac;
}
label{
    margin-bottom: 5px;
    color:#0b3160;

    font-weight: 500;
}
.btn-nextstep{
    display: flex;
    justify-content: flex-end;
    margin:0%;
    margin-top: 80px;
    cursor: pointer; 


}
.btn-nextstep>input{
    padding:15px;
    border-radius: 5px;
    background-color: #0e3764;
    color:white;
    font-weight: 700;
    border: none;
    cursor: pointer; 

}
#btnlast{
    padding:15px;
    border-radius: 5px;
    background-color: #0e3764;
    color:white;
    font-weight: 700;
    border: none;
    cursor:pointer;

}
.page{
    display: flex;
    align-items: center;
}
.abs_col{
    position: absolute;
    top:0%;
    width: 100%;
    margin-top:20px;
}
#img-left{
    position: relative;
}
.num{
    border: 1px solid white;
    border-radius: 50%;
    width:13%;
    height:30px;
    text-align: center;
    margin:0px 5px 0px 20px;
    color:white;
    font-size: 20px;
}

#num1{
    color:black;
    background-color: rgb(198, 231, 253);
}
.step,.details{
    margin:5px;
}
.step_details{
    margin:5px;
}
.details{
    color:white;
    font-weight: 600;
}
.step{
    color:rgb(171, 169, 169);
    font-size: 15px;
}
#two{
    padding:40px 30px 0px 80px;
    display: none;

}

#theme{
    border:1px solid black;
    border-radius: 10px;
    height:20px;
    background-color: #0b3160;
    margin-left:10px;
    margin-right:10px;


}

#btn_1{
    border-radius: 50%;
    height:100%;
    border:none;
    width:20px;   
    cursor: pointer; 
}
#btn_2{
    border-radius: 50%;
    height:100%;
    color:grey;
    background-color:#0b3160;
    border:none;
    width:20px;
    cursor: pointer; 
    
    
}
#toggle{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:15px;
   border-radius: 10px;
   background-color: #fafbff;



}
#display_method{
    display: flex;
    justify-content: space-between;
    margin-top:20px;
    margin-bottom: 10px;
}
#display_method>div>p{
    margin:0%;
    font-size: 15px;
}
#display_method>div{
    border:0.1px solid rgb(214, 212, 212);
    border-radius: 10px;
    padding:25px;
    margin:10px;

}



#displaysecondpage{
   background-color: #fafbff;
   margin-top:20px;
}
#displaythirdpage{
    background-color: #fafbff;
    padding:10px 10px;
    color:#999eb3;
 
 }
#displaysecondpage>div{
    display: flex;
    justify-content: space-between;
    color:#0b3160;
    font-weight: 700;
}
#displaysecondpage>p{
    margin:0%;
   padding:0px 15px;
   text-decoration: underline;
   color:#999eb3;
   cursor: pointer;  
}


#displaysecondpage>div>p{
    margin:0%;
   padding:10px 15px 0px 15px;

}

#displaythirdpage>div>div{
    display: flex;
    justify-content: space-between;
}
#displaythirdpage>div>div>p{
    margin:0%;
}
#display_check{
    margin-top:30px;
}
#display_check>div{
    border:0.1px solid rgb(214, 212, 212);
    padding:10px;
    margin:10px;
    border-radius: 10px;
}
#display_check>div>div>p{
    margin:0%;
    width:300px;
    margin-left: 10px;
}
    

#month{
    color:#0b3160;
    font-weight: 700;

}
#year{
    color:#9e9bab;
    font-weight: 700;
}

.btn-nextstep1>input{
    padding:10px;
    border-radius: 5px;
    background-color: #0e3764;
    color:white;
    font-weight: 700;
    cursor: pointer; 


}
#two_button{
    display: flex;
    justify-content: space-between;
    margin-top:50px;
}
#goback,#goback1,#goback2{
    color:#9e9bab;
    font-weight: 700;
    cursor: pointer;

}
#three{
    padding:40px 30px 0px 80px;
    display: none;

}
#four{
    padding:40px 30px 0px 80px;
    display: none;

}
.btn-nextstep2>input{
    padding:15px;
    border-radius: 5px;
    background-color:#544aff;
    color:white;
    font-weight: 700;
    border:none;
    cursor: pointer; 

}
#two_button1{
    display: flex;
    justify-content: space-between;
    margin-top:60px;
    align-items: center;
}

.method_display>p{
    margin: 0%;
}
.display{
    margin-top:20px;
    padding: 15px;
    background-color: #fafbff;
    border-radius: 10px;
}
.total{
    display: flex;
    justify-content: space-between;
    padding: 15px;

}
.total_content{
    color:#999eb3;

}

#total_price{
    color:#544aff;
    font-weight: 700;
    font-size: 20px;
}
#five{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:50px 20px 0px 50px;
    display:none;
    justify-content: center;
    text-align: center;

}
#five>p{
    padding:10px;
}
#alert,#alert1{
    text-align: center;
    color:red;
    font-weight: 700;
    display: none;
}



 
@media screen and (max-width:1250px) {
    #three{
        padding:30px 20px 0px 30px;
        
    }
    body{
        padding:150px;
    }
    
}
@media screen and (max-width:1070px) {
    
    body{
        padding:50px;
    }
    
}
@media screen and (max-width:870px) {
    #alert,#alert1{
        position: absolute;
        left: 0;
        right: 0;
        bottom: -10%;
        margin: 0 auto;
       
      
        

    }
    main{
        display: flex;
        flex-direction: column;
        margin-top: -20%;
        border:none;
    }
    #img2>img{
        display: none;
        
    }
    #img2{
        height:300px;
        background-image:url(./assets/bg-sidebar-desktop.svg) ;
        background-repeat: no-repeat;
        background-size: 800px 1500px;
    
    }
    .abs_col{
        display: flex;
        top:60%;
        justify-content: space-evenly;
    }
    .step_details{
        display: none;
    }
    .num{
        width:40px;
        font-size: x-large;
        height:30px;
    }
    #one,#two,#three,#four{
        padding:0px;
        position: absolute;
        top: 120px;
        background-color: white;
        border:0.1px solid rgb(214, 212, 212);
        margin:0px 140px;
        padding:10px;
        border-radius: 10px;
        width:500px;

        
    }
    body{
        padding:0px;
    }
    #display_method>div{
        width:100px;
       
    }
    #display_check>div>div>p{
        margin-left: 10px;
    }

}
@media screen and (max-width:770px) {
    #one,#two,#three,#four{
        margin:0px 100px;
        top: 140px;

    }
    
}
@media screen and (max-width:700px) {
    #one,#two,#three,#four{
        margin:0px 100px;
        top: 140px;
        width:450px;

    }
}

@media screen and (max-width:650px) {
    #one,#two,#three,#four{
        margin:0px 70px;
        top: 150px;
        width:420px;

    }
    #alert,#alert1{
        position: absolute;
        left: 0;
        right: 0;
        bottom: -15%;
        margin: 0 auto;
       
      
        

    }
}
@media screen and (max-width:570px) {
    #one,#two,#three,#four{
        margin:0px 50px;
        top: 160px;
        width:400px;

    }
    #display_check>div>div>p{
       
        width:200px;
    }
    #alert,#alert1{
        position: absolute;
        left: 0;
        right: 0;
        bottom: -20%;
        margin: 0 auto;
       
      
        

    }
   
}
@media screen and (max-width:520px) {
    #one,#two,#three,#four{
        margin:0px 50px;
        top: 170px;
        width:350px;

    }
    #display_method{
        display: flex;
        flex-direction: column;
    }
    #display_method>div{
        width:80%;
        text-align: center;
    }
    #display_method>div>p{
        font-size: 20px;
    }
    #display_check>div>div>p{
       
        width:100px;
    }
    #alert,#alert1{
        position: absolute;
        left: 0;
        right: 0;
        bottom: -50%;
        margin: 0 auto;
       
      
        

    }
    
    
   
}
@media screen and (max-width:480px){
    #one,#two,#three,#four{
        margin:0px 50px;
        top: 200px;
        width:300px;

    }
    #display_method>div{
        width:70%;
    }
    #alert,#alert1{
        position: absolute;
        left: 0;
        right: 0;
        bottom: -60%;
        margin: 0 auto;       

    }
    
    
    
}
@media screen and (max-width:420px){
    #one,#two,#three,#four{
        margin:0px 50px;
        top: 200px;
        width:250px;

    }
    #img2{
        height:300px;
        background-image:url(./assets/bg-sidebar-desktop.svg) ;
        background-repeat: no-repeat;
        background-size: 420px 800px;
        top:-100px;
    
    }
}
@media screen and (max-width:350px){
    #one,#two,#three,#four{
        margin:0px 30px;
        top: 220px;
        width:200px;

    }
    #display_check>div>div>p{
       
        width:80px;
    }
    #toggle>p{
        font-size: 12px;
    
    }
    #alert,#alert1{
        position: absolute;
        left: 0;
        right: 0;
        bottom: -60%;
        margin: 0 auto;       

    }
}
@media screen and (max-width:300px){
    #one,#two,#three,#four{
        margin:0px 20px;
        top: 220px;
        width:180px;

    }
    #display_check>div>div>p{
       
        width:60px;
    }
}
